ROOT_DOMAIN=-thanhthu
HASURA_BASE_URL=http://localhost:8080
HASURA_ADMIN_SECRET=hasura
LOG_LEVEL=info

DEV_MODE=false

ENVIRONMENT=dev

POSTGRES_SHM_SIZE=220800000

# dev
REMOTE_SERVER_USER=
REMOTE_SERVER_IP=
REMOTE_SERVER_BRANCH=

# Postgres
POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_DB_NAME=database
POSTGRES_PASSWORD=postgrespassword


###################################################
# authentication
###################################################
# providers: jwt, firebase
JWT_ISSUER=https://thanhthu
JWT_CHECKSUM=true
JWT_SECRET_KEY=your-256-bit-secret
JWT_AUDIENCE=hasura
JWT_ACCESS_TOKEN_EXPIRE_HOURS=1

