ROOT_DOMAIN=-diva.nexlab
CONTROLLER_BASE_URL=http://localhost:8080
CONTROLLER_ADMIN_SECRET=hasura
LOG_LEVEL=info

DEV_MODE=false

# dev
REMOTE_SERVER_USER=
REMOTE_SERVER_IP=
REMOTE_SERVER_BRANCH=

# Postgres
POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgrespassword


###################################################
# authentication
###################################################
# providers: jwt, firebase
JWT_ISSUER=https://nexlab.tech
JWT_CHECKSUM=true